<h2>Hola escribe tu correo electronico, luego revisa la bandeja de entrada con el link de recuperacion de password</h2>

<form action="http://localhost:8080/ecommerce/user/changepassword/email", method="post">
  <input name="email" value="email" /><br>
  <button value="submit">Cambiar contraseña</button><br>

</form>