<form action="http://localhost:8080/mongo/products/management/delete", method="post">
  <h2>Coloque el ID del producto que desea eliminar</h2>
  <input name="idproduct" value="idproduct" /><br>
  <label for="fname">Propietario del producto</label><br>
  <input name="owner" value="{{email}}" readonly="readonly"/><br>
  <button value="submit">Eliminar producto</button><br>

</form>