<h1>Bienvenido {{name}}</h1>
  <a href="http://localhost:8080/mongo/products/catalog">Ver catalogo de productos</a><br>
  <form action="http://localhost:8080/api/chat", method="get"><br>
  <button value="submit">Chat de soporte al cliente</button><br>
</form>

<form action="http://localhost:8080/ecommerce/home/logout", method="get">
  <button value="submit">Logout</button>
</form>

<form action="http://localhost:8080/ecommerce/home/profile", method="get">
  <button value="submit">Tu perfil</button>
</form>

<form action="http://localhost:8080/api/sessions/current", method="get">
  <button value="submit">Vista current de usuario</button><br>
</form>

<form action="http://localhost:8080/mongo/products/mockingproducts", method="get">
  <button value="submit">Ver catalogo de productos mocking</button><br>
</form>

<form action="http://localhost:8080/ecommerce/user/rol", method="get">
  <button value="submit">Cambio de rol</button><br>
</form>

<form action="http://localhost:8080/mongo/products/management", method="get">
  <button value="submit">Gestion de productos</button><br>
</form>

<form action="http://localhost:8080/ecommerce/user/documents", method="get">
  <button value="submit">Carga de archivos</button><br>
</form>

<form action="http://localhost:8080/ecommerce/user/profilepicture", method="get">
  <button value="submit">Carga de foto de perfil</button><br>
</form>

<form action="http://localhost:8080/ecommerce/user/productspicture", method="get">
  <button value="submit">Carga de documentos de productos</button><br>
</form>

<h4>NOTA: Recuerde que para cambiar de rol debe cargar su DNI.pdf, Domicilio.pdf y Cuenta.pdf, en la seccion de carga de archivos</h4><br>