<h1>Bienvenido {{name}}</h1>
  <a href="http://localhost:8080/mongo/products/catalog">Ver catalogo de productos</a><br>
  <form action="http://localhost:8080/api/chat", method="get"><br>
  <button value="submit">Chat de soporte al cliente</button><br>
</form>

<form action="http://localhost:8080/ecommerce/home/logout", method="get">
  <button value="submit">Logout</button>
</form>

<form action="http://localhost:8080/ecommerce/home/profile", method="get">
  <button value="submit">Tu perfil</button>
</form>

