<h2>Bienvenido al portal del Administrador</h2>

<form action="http://localhost:8080/ecommerce/home/logout", method="get">
  <button value="submit">Logout</button>
</form>

<form action="http://localhost:8080/mongo/products/management", method="get">
  <button value="submit">Gestion de productos</button><br>
</form>

<form action="http://localhost:8080/api/sessions/current", method="get">
  <button value="submit">Vista current</button><br>
</form>

<form action="http://localhost:8080/loggerTest", method="get">
  <button value="submit">Logs de la aplicacion</button><br>
</form>

<form action="http://localhost:8080/ecommerce/user/documents", method="get">
  <button value="submit">Carga de archivos</button><br>
</form>

<form action="http://localhost:8080/ecommerce/user/profilepicture", method="get">
  <button value="submit">Carga de foto de perfil</button><br>
</form>

<form action="http://localhost:8080/ecommerce/user/productspicture", method="get">
  <button value="submit">Carga de documentos de productos</button><br>
</form>




