<h2>Bienvenido!!</h2>

<form action="http://localhost:8080/ecommerce/user/login_passport", method="post">
  <input name="email" value="email" /><br>
  <input name="password" value="password" /><br>
  <button value="submit">Login</button><br>
  <a href="http://localhost:8080/ecommerce/user/github">Login con Github</a><br>
  <a href="http://localhost:8080/ecommerce/user/viewsendemail">Envio de correo</a><br>
  <a href="http://localhost:8080/ecommerce/home/signup">¿No tienes usuario? Registrate</a><br>
  <a href="http://localhost:8080/ecommerce/user/changepassword">Recuperacion de contraseña</a>

</form>