<h1>Desde aca podras gestionar los productos de la BD</h1>

<form action="http://localhost:8080/mongo/products/management/createproduct", method="get">
  <button value="submit">Crear productos</button>
</form>

<form action="http://localhost:8080/mongo/products/management/deleteproduct", method="get">
  <button value="submit">Eliminar producto</button>
</form>

<form action="http://localhost:8080/mongo/products/management/updateproduct", method="get">
  <button value="submit">Actualizar producto</button><br>
</form>