<h2>Hola escribe excribe el token que te fue enviado por correo y tu nueva contrasena</h2>

<form action="http://localhost:8080/ecommerce/user/recovery/newpassword", method="post">
  <input name="token" value="token" /><br>
  <input name="new_password" value="new_password" /><br>
  <button value="submit">Enviar token y nueva contrasena</button>
</form>