<h2>Hola escribe tu correo y revisa tu bandeja de entrada</h2>

<form action="http://localhost:8080/ecommerce/user/sendemail", method="post">
  <input name="email" value="email" /><br>
  <button value="submit">Enviar correo</button><br>

</form>