<form action="http://localhost:8080/mongo/products/management/update", method="put">
  <h2>Coloque el ID y campo del producto que desea actualizar</h2>
  <input name="updateproduct" value="updateproduct" /><br>
  <input name="element" value="element" /><br>
  <button value="submit">Actualizar producto</button><br>

</form>